html {
	font-size: 16px;
}
body {
	font-size: 1rem;
	font-family: 'Inconsolata', monospace;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 0.5pt;
	margin: 0;
	display: grid;
	grid-template-rows: 10vh 85vh 5vh;
	grid-template-columns: 25vw auto 25vw;
	grid-template-areas:
		"left header right"
		"left main right"
		"footer footer footer";
	background-color: #f2f3f6;
}
/* width */
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #999;
}
header {
	grid-area: header;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;
}
header .logo img {
	height: 70px;
}
header a {
	color: #333;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	margin-right: 10px;
}
header a.active {
	border-color: orange;
}
main {
	grid-area: main;
	overflow-y: scroll;
	padding: 15px 0 15px 4rem;
	padding-top: 2rem;
	line-height: 1.8;
}
footer {
	grid-area: footer;
	background-color: #bbb;
	display: flex;
	justify-content: center;
	align-items: center;
}
.day_group {
	border-left: 3px solid #ccc;
	position: relative;
	padding-bottom: 2rem;
}
.date {
	position: absolute;
	top: 0;
	left: -3rem;
	/*	left: -4rem;
 	padding: 10px;
	background-color: #333;
	color: #fff;
	box-shadow: 4px 4px 5px #ccc; */
	border-radius: 4px;
}
.date span {
	display: block;
}
.date span.day {
	font-size: 1.3rem;
}
.date span.month {
	font-size: 0.9rem;
}
.date span.year {
	font-size: 0.7rem;
}
.post {
	/* padding: 1rem;
	background: #fff; */
	margin: 0 1rem;
	margin-bottom: 2rem;
	/* border-radius: 4px;
	box-shadow: 0px 2px 3px #ccc; */
	border-bottom: 1px solid #ccc;
}
.heading {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 5px 5px 5px 0;
	background-color: #26b3ff;
	margin-left: 15px;
	border-radius: 5px;
}
.heading::before {
	position: absolute;
	content: "";
	border: 16px solid transparent;
	border-right-color: #26b3ff;
	left: -32px;
	top: 3px;
	z-index: -1;
}
.time {
	display: block;
	margin-left: 15px;
	color: #006ea9;
}
.time::before {
	content: "@";
}
.content {
	padding: 10px;
}
.add-a-post {
	position: fixed;
	padding: 16px;
	right: 0;
	background: #ffa500;
	color: #000;
	font-weight: 600;
}
.single-post .alert {
	background-color: rgba(138, 2, 2, 0.164);
	color: #8a0202;
	border: 1px solid #8a0202;
	padding: 1rem;
	border-radius: 4px;
}
.single-post hr.hr {
	width: 30%;
	margin-left: 0;
	border-top: 0;
	border-bottom: 1px solid #ccc;
	margin-bottom: 2rem;
}
.single-post .post-heading {
	line-height: 1.3;
}
.single-post pre {
	background-color: #111;
	color: #ccc;
	padding: 1rem;
	border-radius: 5px;
	font-size: 0.9rem;
	line-height: 1.2;
	overflow-x: scroll;
}
.single-post .back-to {
	padding: 1rem;
	padding-bottom: 2rem;
}
/* code element */
code {
	border: 1px solid #ccc;
    padding: 10px;
    background: #fdfdff;
    border-radius: 4px;
}
code.block {
	display: block;
}
@media only screen and (max-width: 767px) {
	html {
		font-size: 14px;
	}
	body {
		grid-template-columns: auto;
		grid-template-areas:
			"header"
			"main"
			"footer";
	}
	main {
		padding-left: 3.5rem;
	}
	header {
		padding: 0;
	}
	header .logo img {
		height: 60px;
	}
	.date {
		left: -3.3rem;
		padding: 5px;
	}
	.post {
		padding: 0.5rem;
		margin: 0 0.7rem;
		margin-bottom: 1rem;
	}
}
